@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT serif";
}

.container {
    max-width: 1920px;
    width: 100%;
    background: black;
}

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

body {
    background-color: black;
} 

.nav-container {
    background-color: rgb(2, 2, 2)
}

.nav-container ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    background-color: rgb(2, 2, 2);
}

.nav-container ul li {
    display: inline;
}

.nav-container ul li a {
    color: rgb(240, 231, 231);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.nav-container ul li a:hover {
    background-color: rgb(119, 4, 4);
}

.nav-container ul li:last-child a {
    float: right;
    background-color: rgb(119, 4, 4);
}

/*nav bar*/

input {
    width: 45%;
}

/*banner*/

#main-banner {
    background: url("../img/banner-1.jpg") no-repeat;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    box-sizing: border-box;

    text-align: start;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 10em;
}

#main-banner h1 {
    font-size: 70px;
}

#main-banner button {
    width: 10%;
    margin-top: 30px;
    margin-left: 200px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(119, 4, 4);
}

/*dp-menu*/
:root {
    --cor-fundo: rgb(2, 2, 2);
    --cor-hover: rgb(119, 4, 4);
    --cor-primaria: rgb(231, 241, 236);
}

.dp-menu {
    background-color: rgb(2, 2, 2);
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul li {
    margin-inline: 120px;
    margin-right: 60px;
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px
}

.dp-menu ul ul li a {
    display: block;
}

/*galeria*/
div.img {
    color: #FFF;
    text-decoration: none;
}

div .img h1 {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

div .img h2 {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

div .img button {
    width: 50%;
    margin-top: 10px;
    margin-left: 115px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(119, 4, 4);
}

div.img {
    background-color: rgb(3, 3, 3);
}

div.img {
    display: inline-block;
    border: 5px solid rgb(2, 2, 2);
    width: 477px;
}

div.img:hover {
    border: 5px solid rgb(119, 4, 4);
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*banner2*/

#main-banner2 {
    background: url("../img/banner-2.jpg") no-repeat;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    box-sizing: border-box;

    text-align: start;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 10em;
}

#main-banner2 h1 {
    font-size: 70px;
}

#main-banner2 button {
    width: 10%;
    margin-top: 30px;
    margin-left: 200px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(119, 4, 4);
}

/*galeria2*/
div.img2 {
    color: #FFF;
    text-decoration: none;
}

div .img2 h1 {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

div .img2 h2 {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

div .img2 button {
    width: 50%;
    margin-top: 10px;
    margin-left: 115px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(119, 4, 4);
}

div.img2 {
    background-color: rgb(3, 3, 3);
}

div.img2 {
    display: inline-block;
    border: 5px solid rgb(2, 2, 2);
    width: 477px;
}

div.img2:hover {
    border: 5px solid rgb(119, 4, 4);
}

div.img2 img {
    width: 100%;
    height: auto;
}

div.desc2 {
    padding: 15px;
    text-align: center;
}

/*slides*/

#slider {
    margin: 0 auto;
    width: 1900px;
    height: 600px;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 550px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#slides .slide_1 {
    background: rgb(119, 4, 4);
}

#slides .slide_2 {
    background: rgb(119, 4, 4);
}

#slides .slide_3 {
    background: rgb(119, 4, 4);
}

#slides .slide_4 {
    background: rgb(119, 4, 4);
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: rgb(119, 4, 4);
}

/*rodape*/

footer {
    background: black;
    padding: 50px 0;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #cecdcd;
    padding-left: 10px;
}

.footer-col .medias-socias {
    margin-top: 30px;
}

.footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
    font-size: 20px;
}

.footer-col .medias-socias a:hover {
    color: #FFF;
    background-color: white;
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background: linear-gradient(72deg, black 1%, rgb(119, 4, 4) 99%);
}

.footer-col .form-sub input::placeholder {
    color: white;
}

.footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000000;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;
}