<div class="footer">
    <div class="row">
        <div class="col-lg-4">
            <h1>Empresa</h1>
            <a routerLink="">Home</a>
            <a routerLink="sobre">Sobre</a>
            <a routerLink="contato">Contato</a>
        </div>

        <div class="col-lg-4">
            <h1>Obter Ajuda</h1>
            <a routerLink="">FAQ</a>
            <a routerLink="">Transporte</a>
            <a routerLink="">Devoluções</a>
            <a routerLink="">Stratus do Pedido</a>
            <a routerLink="">Opcões de pagamento</a>
        </div>

        <div class="col-lg-2">
            <h1>Loja Online</h1>
            <a routerLink="">PC Gamer</a>
            <a routerLink="">Consoles</a>
            <a routerLink="">Celulares</a>
            <a routerLink="">Endereço</a>
        </div>

        <div class="col-lg-2">
            <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>   
        </div>
    </div>
</div>