<div class="banner">
    <div class="content">
      <h1 class="mb-5">OFERTA DO DIA</h1>
       <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
    </div>
</div> 

<div class="Step">
    <div class="row">
        <div class="col-lg-2">
            <div class="box">
                <img src="../../../assets/img/5.jpg" height="70%" width="100%" >
              <h1>Controle de Xbox</h1>
              <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="box">
                <img src="../../../assets/img/controle.jpg" height="70%" width="100%" >
              <h1>Controle de Xbox</h1>
              <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="box">
                <img src="../../../assets/img/5.jpg" height="70%" width="100%" >
              <h1>Controle de Xbox</h1>
              <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="box">
                <img src="../../../assets/img/controle.jpg" height="70%" width="100%" >
              <h1>Controle de Xbox</h1>
              <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-2">
          <div class="box">
              <img src="../../../assets/img/5.jpg" height="70%" width="100%" >
            <h1>Controle de Xbox</h1>
            <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-2">
        <div class="box">
            <img src="../../../assets/img/controle.jpg" height="70%" width="100%" >
          <h1>Controle de Xbox</h1>
          <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
    </div>
</div> 

<div class="cointainer mt-4 mb 4">
  <div class="row">
    <div class="col-lg-4">
      <div class="got">
        <img src="../../../assets/img/banner-4.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="got">
        <img src="../../../assets/img/banner-5.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="got">
        <img src="../../../assets/img/banner-3.jpg">
      </div>
    </div>
  </div>
</div>

<div class="Step">
  <div class="row">
      <div class="col-lg-2">
          <div class="box">
              <img src="../../../assets/img/celulares.png" height="70%" width="100%" >
            <h1>CELULARES</h1>
            <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-2">
          <div class="box">
              <img src="../../../assets/img/pc.jpg" height="70%" width="100%" >
            <h1>PC GAMER</h1>
            <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-2">
          <div class="box">
              <img src="../../../assets/img/perifericos.jpg" height="70%" width="100%" >
            <h1>PERIFERICOS</h1>
            <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-2">
          <div class="box">
              <img src="../../../assets/img/tv.webp" height="70%" width="100%" >
            <h1>TV</h1>
            <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-2">
        <div class="box">
            <img src="../../../assets/img/hardware.jpg" height="70%" width="100%" >
          <h1>HARDWARE</h1>
          <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
    <div class="col-lg-2">
      <div class="box">
          <img src="../../../assets/img/cadeira.jpg" height="70%" width="100%" >
        <h1>CADEIRA GAMER</h1>
        <a href="#" >APROVEITE<i class="bi bi-arrow-right"></i></a>
      </div>
  </div>
  </div>
</div> 