/* You can add global styles to this file, and also import other style files */


*{
    padding: 0;
    margin: 0;
}

:root{
   --primeira-cor: rgb(119, 14, 14);
}



body{
    font-family: 'PT' serif, sans-serif;
    background-color: black;
}